<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"></properties>

    <!--&lt;!&ndash;配置全局设置&ndash;&gt;-->
    <!--<settings>-->
        <!--&lt;!&ndash;启用日志，并指定日志实现方式&ndash;&gt;-->
        <!--<setting name="logImpl" value="SLF4J"/>-->

        <!--&lt;!&ndash;启用主键生成策略&ndash;&gt;-->
        <!--<setting name="useGeneratedKeys" value="true"/>-->

        <!--&lt;!&ndash;配置启用下划线转驼峰的映射&ndash;&gt;-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->

        <!--&lt;!&ndash;启用二级缓存&ndash;&gt;-->
        <!--<setting name="cacheEnabled" value="true"/>-->
    <!--</settings>-->


    <settings>
        <!--启用日志，并指定日志实现方式-->
        <setting name="logImpl" value="SLF4J"/>
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
    </settings>
    <!--配置运行环境-->
    <environments default="development">
        <environment id="development">
            <!--jdbc表示使用默认事务管理Manage表示由第三方框架管理事务，此时配置文件可以省略-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

        <environment id="online">
            <!--jdbc表示使用默认事务管理Manage表示由第三方框架管理事务，此时配置文件可以省略-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/test"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="com.chengzi.dao"/>
    </mappers>

</configuration>