<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fantaike.template.mapper.setting.SysAuthMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.fantaike.template.domain.setting.SysAuth" id="BaseResultMap">
        <result property="authId" column="auth_id" jdbcType="BIGINT"/>
        <result property="authName" column="auth_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="createUsr" column="create_usr" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUsr" column="update_usr" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List" >
        auth_id,auth_name,status,create_usr,create_time,update_usr,update_time
    </sql>
</mapper>