<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fantaike.template.mapper.setting.SysMenuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.fantaike.template.domain.setting.SysMenu" id="BaseResultMap">
        <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
        <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="perms" column="perms" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="CHAR"/>
        <result property="createUsr" column="create_usr" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateUsr" column="update_usr" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    
  <sql id="Base_Column_List" >
        menu_id,parent_id,name,url,perms,type,icon,order_num,status,create_usr,create_time,update_usr,update_time 
  </sql>
</mapper>